@media (max-width: 992px) {

    .navbar {
        gap: 10px;
    }

    .cart-icon {
        height: 30px;
        margin-right: 0rem;
        margin-top: 4px;
    }

    .navbar-list {
        position: absolute;
        top: 85px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
        background: var(--gamboge);
    }


    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        height: 20px;
        width: 25px;
    }

    #menu-toggle:checked+.navbar-list {
        display: flex;
    }

    #menu-toggle {
        display: none;
    }


    /* PORTADA */

    #portada {

        background-size: 100% 600px;
        padding: 100px;

    }

    .portada-info h1 {
        padding-top: 180px;
        font-size: 25px;
        font-weight: 900;

    }

    .portada-info p {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
        font-weight: 400;
    }


    /* ABOUT US */

    #nosotros {
        display: flex;
        justify-content: center;
        padding-top: 90px;
    }

    .nosotros-info {
        height: 250px;
        width: 550px;

    }

    .nosotros-info h2 {
        font-weight: 900;
        font-size: 25px;
    }

    .nosotros-info p {
        font-size: 18px;
        font-weight: 300;
        padding-top: 5px;
    }


    /* PRODUCTS */

    .products-container {
        width: 100%px;
    }

    .product {
        width: 50%;
    }

    .product img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    /* CONTACT */

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    /* REGISTER */

    #register {
        padding-left: 80px;
        padding-right: 80px;
    }

    .register-info {
        width: 100%;
    }

    /* LOGIN */

    #login {
        padding: 100px;
    }

}



@media (max-width: 768px) {

    #portada {

        background-size: 100% 500px;
        padding: 60px;

    }

    .portada-info h1 {
        padding-top: 180px;
        font-size: 25px;
        font-weight: 900;

    }

    .portada-info p {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
        font-weight: 400;
    }

    #register {
        padding: 30px;
    }

    .register-info {
        width: 100%;
    }

    #login {
        padding: 80px;

    }

    .login-info {
        width: 100%;
    }

}




@media (max-width: 576px) {

    /* PORTADA */

    #portada {
        background-size: 170% 100%;
        padding: 35px;
    }

    .portada-info h1 {
        padding-top: 240px;
        font-size: 40px;
        font-weight: 900;
    }

    .portada-info p {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px;
        font-weight: 500;
    }

    /* ABOUT US */
    .nosotros-info {
        height: 90%;
        width: 90%;
        padding: 15PX;

    }

    .nosotros-info h2 {
        font-weight: 900;
        font-size: 25px;
    }

    .nosotros-info p {
        font-size: 15px;
        font-weight: 200;
    }

    /* PRODUCTS */

    #products h2 {
        font-size: 35px;
    }

    .products-container {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 30px;
    }

    /* CONTACT */

    #contactos h2 {
        font-size: 35px;
    }

    .contact-info {
        padding: 0px;
    }


    /* REGISTER */

    #register {
        padding: 30px;
    }

    .register-info {
        width: 100%;
    }

    .register-info p {
        font-size: 20px;
    }

    .register-info p:last-child {
        font-size: 15px;
    }


    /* LOGIN */

    #login {
        margin-top: 50px;
        padding: 50px;
    }

    .login-info {
        width: 100%;
    }

    .login-info h4 {
        font-size: 20px;
    }

    ::placeholder {
        font-size: 15PX;
    }

    .login-info p {
        font-size: 17px;
    }

    .login-info p:last-child {
        font-size: 18px;
    }


}



@media (max-width: 410px) {

    .register-info h4 {
        font-size: 100%;
    }


    .login-info p {
        font-size: 12px;
        height: 24px;
    }

    .login-info p:last-child {
        font-size: 12px;

    }
}